.current-file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0 4px 0 24px;
  font-family: "Roboto";
  font-size: 15px;

  .current-file-name {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-form-field {
      display: flex;
      align-items: center;
      padding-top: 20px;
    }

    .file-name-input {
      background-color: transparent;
      color: var(--file-name);
      border: none;
      padding: 5px 0;

      &:focus {
        border-bottom: 1px solid;
      }

      &:hover {
        cursor: text;
        border-bottom: 1px solid;
      }

      &.ng-invalid {
        border-bottom: 1px solid red;
      }
    }
  }
}
