<div class="header-container">
  <h1 *ngIf="isLargeScreen">MARKDOWN</h1>
  <app-action-button
    [actionType]="'sidenavToggle'"
    (actionClicked)="hamburgerClicked($event)"
  ></app-action-button>
  <app-current-file-name
    [isMobileScreen]="isMobileScreen"
    [currentMdFile]="currentUser.currentMdFile"
    (mdFileNameChanged)="updateMdFileName($event)"
  ></app-current-file-name>
  <div class="delete-save-container">
    <app-action-button
      [actionType]="'openConfirm'"
      [disabled]="!currentUser.currentMdFile"
      (actionClicked)="openDeleteModal()"
    ></app-action-button>
    <app-action-button
      [isMobileScreen]="isMobileScreen"
      [actionType]="'save'"
      [disabled]="!newMdFileName"
      (actionClicked)="saveMdFile()"
    ></app-action-button>
  </div>
</div>
