<!-- get button type and screen size from parent, on click return event-->
<!-- template switch for big orange, small orange -->
<!-- icons small and large -->

<ng-container [ngSwitch]="actionType">
  <ng-container *ngSwitchCase="'sidenavToggle'">
    <button (click)="sidenavToggleClicked()">
      {{ menuOpen ? "X" : "hamburder" }}
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'create'">
    <button class="new-document-button" (click)="createNewFile()">
      + New Document
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'delete'">
    <button (click)="deleteCurrentFile()">delete</button>
  </ng-container>
  <ng-container *ngSwitchCase="'save'">
    <button (click)="saveCurrentFile()">save</button>
  </ng-container>
</ng-container>
