<!-- get button type and screen size from parent, on click return event-->
<!-- template switch for big orange, small orange -->
<!-- icons small and large -->

<ng-container [ngSwitch]="actionType">
  <ng-container *ngSwitchCase="'sidenavToggle'">
    <button (click)="actionButtonClicked()">
      {{ menuOpen ? "X" : "hamburder" }}
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'delete'">
    <button>delete</button>
  </ng-container>
  <ng-container *ngSwitchCase="'save'">
    <button>save</button>
  </ng-container>
</ng-container>
