.sidenav-toggle-button {
  background-color: var(--cancel-bg);
  height: 56px;
  width: 56px;

  .hamburger-icon {
    height: 14px;
  }

  .close-icon {
    height: 18px;
  }
}

.new-document-button {
  background-color: var(--orange);
  font-family: "Roboto";
  color: white;
  font-size: 15px;
  border-radius: 4px;
  height: 40px;
  width: 202px;

  &:hover {
    background-color: var(--orange-hover);
  }
}

.delete-button {
  background-color: transparent;
}

.save-button {
  background-color: var(--orange);
  height: 40px;
  width: 40px;
  margin-right: 8px;
  border-radius: 4px;

  &:hover {
    background-color: var(--orange-hover);
  }
}

.confirm-delete-button {
  background-color: var(--orange);
  color: white;
  font-weight: 400;
  font-size: 15px;
  width: 100%;

  &:hover {
    background-color: var(--orange-hover);
  }
}
