<ng-container [ngSwitch]="actionType">
  <ng-container *ngSwitchCase="'sidenavToggle'">
    <button (click)="sidenavToggleClicked()" class="sidenav-toggle-button">
      <ng-container *ngIf="!menuIsOpen">
        <img
          class="hamburger-icon"
          src="../../../assets/icon-menu.svg"
          alt=""
        />
      </ng-container>
      <ng-container *ngIf="menuIsOpen">
        <img class="close-icon" src="../../../assets/icon-close.svg" alt="" />
      </ng-container>
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'create'">
    <button class="new-document-button" (click)="createNewFile()">
      + New Document
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'delete'">
    <button (click)="deleteCurrentFile()" class="delete-button">
      <img src="../../../assets/icon-delete.svg" alt="" />
    </button>
  </ng-container>
  <ng-container *ngSwitchCase="'save'">
    <button (click)="saveCurrentFile()" class="save-button">
      <img src="../../../assets/icon-save.svg" alt="" class="save-icon" />
    </button>
  </ng-container>
</ng-container>
