.files-list {
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 26px;

  .file-item {
    list-style-type: none;

    &.selected {
      &:hover {
        cursor: default;
      }
    }

    &:not(.selected) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
