<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="false"
  *ngIf="!isLoading; else spinner"
>
  <mat-sidenav
    #sidenav
    [opened]="menuIsOpen"
    [mode]="'push'"
    [disableClose]="true"
  >
    <div class="sidenav-menu-container">
      <h1 class="sidenav-header">MARKDOWN</h1>
      <h2 class="sidenav-subheader">MY DOCUMENTS</h2>
      <app-action-button
        [actionType]="'create'"
        (actionClicked)="createNewFile()"
      ></app-action-button>
      <div class="files-list-container" *ngIf="mdFiles">
        <app-md-files-list [mdFiles]="mdFiles"></app-md-files-list>
      </div>
      <div class="theme-toggle-container">
        <app-theme-toggle></app-theme-toggle>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-header
      (toggleSidenav)="menuIsOpen = $event"
      [currentUser]="currentUser"
      [currentMdFile]="currentMdFile$ | async"
    ></app-header>
    <app-preview-bar (previewToggled)="showMd = $event"></app-preview-bar>
    <app-md-content
      [currentMdFile]="currentMdFile$ | async"
      [showMd]="showMd"
    ></app-md-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner [diameter]="200"></mat-spinner>
  </div>
</ng-template>
