<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="true"
  *ngIf="!isLoading; else spinner"
  (backdropClick)="menuIsOpen = false"
>
  <mat-sidenav #sidenav [opened]="menuIsOpen" [mode]="'push'">
    <div class="sidenav-menu-container">
      <h1 class="sidenav-header" *ngIf="!isLargeScreen">MARKDOWN</h1>
      <h2 class="sidenav-subheader">MY DOCUMENTS</h2>
      <app-action-button
        [actionType]="'create'"
        (actionClicked)="createNewFile()"
      ></app-action-button>
      <div
        class="files-list-container"
        *ngIf="currentUser.mdFiles.length; else noDocuments"
      >
        <app-md-files-list
          [currentUser]="currentUser"
          (mdFileSelected)="switchCurrentMdFile($event)"
        ></app-md-files-list>
      </div>
      <ng-template #noDocuments>
        <div class="no-files">
          No files found. Create a new file to get started!
        </div>
      </ng-template>
      <div class="theme-toggle-container">
        <app-theme-toggle></app-theme-toggle>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-header
      [currentUser]="currentUser"
      [menuIsOpen]="menuIsOpen"
      (toggleSidenav)="toggleSidenav($event)"
      (saveCurrentMdFile)="saveCurrentMdFile($event)"
    ></app-header>
    <app-preview-bar (previewToggled)="showMd = $event"></app-preview-bar>
    <app-md-content
      [currentMdFile]="currentUser.currentMdFile"
      [showMd]="showMd"
      (mdFileContentChanged)="currentUser.currentMdFile.content = $event"
    ></app-md-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner [diameter]="200"></mat-spinner>
  </div>
</ng-template>
