.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav {
    background-color: var(--sidenav-bg);
  }

  .sidenav-menu-container {
    width: 250px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidenav-header {
      color: var(--sidenav-header);
      font-family: "Commissioner", sans-serif;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-bottom: 27px;
    }

    .sidenav-subheader {
      color: var(--subdued);
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 2px;
      margin-bottom: 29px;
    }

    .files-list-container {
      overflow: auto;
      margin: 26px 0;

      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb);
        border-radius: 4px;
      }
    }

    .theme-toggle-container {
      margin-top: auto;
    }
  }

  .sidenav-content {
    white-space: nowrap;

    footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
