.markdown-content-container {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;

  .markdown-preview-container {
    padding: 16px 20px;
    white-space: normal;
    height: 100%;
  }

  .markdown-input-container {
    .markdown-input {
      height: 100%;
      width: 100%;
      padding: 20px;
      border: none;
      background-color: transparent;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      resize: none;
      outline: none;
      color: var(--md-input-text);
    }
  }
}

.markdown-large-screen-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  .markdown-input-container {
    width: 50%;
    height: 100%;

    .markdown-input {
      border-right: 1px solid var(--divider);
    }
  }

  .markdown-preview-container {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &.preview-only {
      width: 100%;

      &.large {
        width: 66vw;
      }
    }
  }
}

.markdown-input-container {
  font-family: "Roboto Mono";
  height: 100%;
  overflow: hidden;
}
