.markdown-content-container {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;

  .markdown-preview-container {
    padding: 16px 20px;
    white-space: normal;
    height: 100%;
  }

  .markdown-input-container {
    font-family: "Roboto Mono";
    height: 100%;
    overflow: hidden;

    .markdown-input {
      height: 100%;
      width: 100%;
      padding: 20px;
      border: none;
      background-color: transparent;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      resize: none;
      outline: none;
      color: var(--secondary-text);
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
