.delete-modal-title {
  font-family: "Roboto Slab";
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.delete-modal-warning-text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text);
  margin-bottom: 16px;
}

.delete-modal-actions {
  width: 100%;
  display: block;
}
