$breakpoints: (
  "mobile": (
    min-width: 375px,
  ),
  "tablet": (
    min-width: 700px,
  ),
  "desktop": (
    min-width: 1000px,
  ),
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "no value from `#{$breakpoint}`. "
        + "available: #{map-keys($breakpoints)}.";
  }
}

:root {
  --primary-text: white;
  --secondary-text: hsla(222, 9%, 78%, 1);
  --subdued: hsla(216, 4%, 51%, 1);
  --header-text: hsla(0, 0%, 100%, 1);
  --primary-bg: hsla(225, 9%, 9%, 1);
  --secondary-bg: hsla(220, 7%, 18%, 1);
  --sidenav-bg: hsla(216, 8%, 12%, 1);
  --toolbar-bg: hsla(220, 7%, 18%, 1);
  --orange: hsla(13, 75%, 58%, 1);
  --orange-hover: hsla(21, 86%, 68%, 1);
  --cancel-bg: hsla(216, 9%, 23%, 1);
  --scroll-thumb: hsla(216, 9%, 23%, 1);
  --section-title-bar-bg: hsla(216, 8%, 12%, 1);
  --text-block-bg: hsla(220, 7%, 18%, 1);
  --divider: hsla(216, 8%, 38%, 1);
  --theme-toggle-bg: hsla(216, 8%, 38%, 1);

  .light-theme {
    --primary-text: hsla(216, 9%, 23%, 1);
    --secondary-text: hsla(216, 4%, 51%, 1);
    --header-text: hsla(216, 9%, 23%, 1);
    --primary-bg: hsla(0, 0%, 100%, 1);
    --secondary-bg: hsla(0, 0%, 96%, 1);
    --section-title-bar-bg: hsla(0, 0%, 96%, 1);
    --text-block-bg: hsla(0, 0%, 96%, 1);
    --divider: hsla(0, 0%, 90%, 1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--primary-bg);
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text);
  transition-duration: 500ms;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  .roboto-mono {
    font-family: "Roboto Mono", monospace;
  }

  .roboto-slab {
    font-family: "Roboto Slab", serif;
  }
}

button {
  border-width: 0;

  &:hover {
    cursor: pointer;
  }
}

.markdown-content-container {
  font-family: "Roboto Slab";

  * {
    margin: 0 0 20px 0;
  }

  h1 {
    font-size: 32px;
    line-height: 42px;
  }

  h2 {
    font-weight: 300;
    font-size: 28px;
    line-height: 37px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 20px;
    line-height: 26px;
  }

  h5 {
    font-size: 16px;
    line-height: 21px;
  }

  h6 {
    color: var(--orange);
    font-size: 14px;
    line-height: 18px;
  }

  p {
    color: var(--secondary-text);
    line-height: 24px;
  }

  ul {
    color: var(--secondary-text);
    padding-left: 24px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    list-style: none;

    li::before {
      color: var(--orange);
      content: "\2022";
      display: inline-block;
      width: 16px;
      margin-left: -16px;
    }
  }

  ol {
    color: var(--secondary-text);
    margin-left: 24px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  br {
    margin: 10px;
    display: block;
    content: "";
  }

  blockquote {
    background-color: var(--secondary-bg);
    border-radius: 4px;
    border-left: 4px solid var(--orange);
    margin: 20px 0;

    p {
      color: var(--primary-text);
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      padding: 24px;
    }

    a {
      color: var(--primary-text);
    }
  }

  pre {
    background-color: var(--secondary-bg);
    padding: 24px;
    white-space: break-spaces;

    code {
      font-family: "Roboto Mono";
      line-height: 24px;
    }
  }
}
